@charset "utf-8";

:root {
  --main-color : #7aadd3;
  --sub-font : "TimesNewerRoman" , serif;
}

body{ overflow-x: hidden; font-family: "Pretendard" , sans-serif; font-size: 1.6rem; line-height: 1.5; color: #000; }
.inner{ max-width: 1640px; margin: 0 auto; padding: 0 20px; }

/* header */
#header { padding-top: 10px; position: absolute; left: 0; top: 0; width: 100%; z-index: 2; }
#header .inner { position: relative; display: flex; justify-content: space-between; align-items: center; }
#header h1 { position: absolute; left: 50%; top: 20px; transform: translateX(-50%);}
#header .gnb { display: flex; }
#header .gnb > li { position: relative; }
#header .gnb > li > a { display: block; padding: 10px 20px; font-size: 2rem; color: #fff; }

#header .gnb > li > .depth2 { display: none; position: absolute; width: 500px; color: #fff; }
#header .gnb > li > .depth2 li { display: inline-block; }
/* 
2차 메뉴 숨기는 2가지 방법
1. display: flex; 지우고 위처럼 li에 inline-block을 주고 .depth2에 display: none; 로 숨기기
2. .depth2에 flex를 선언했을 때는 자바에 가서 $(".depth2").hide();를 넣어준다.
*/
#header .gnb > li > .depth2 li a { display: block; padding: 10px; opacity: 0.7; }

#header .util { margin-top: 10px; display: flex; gap: 10px; }
#header .util .btn_search { background: none; cursor: pointer; }

#header .gnb > li:nth-child(3) > .depth2 { transform: translateX(-50px); }
#header .gnb > li:nth-child(4) > .depth2 { transform: translateX(-100px); }

#header .ham { display: none; background: none; cursor: pointer; }

#header .mgnb_wrap { display: none; z-index: 20; position: fixed; left: 0; top: 0; width: 100%; height: 100%; }
#header .mgnb_wrap .dim { display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.8); }
#header .mgnb_wrap .mgnb_box { position: absolute; right: -100%; top: 0; width: 70%; height: 100%; background: #eee; padding: 100px 30px; }
#header .mgnb_wrap .mgnb_box .mgnb { border-top: 1px solid #000; border-bottom: 1px solid #999;}
#header .mgnb_wrap .mgnb_box .mgnb li { font-size: 3rem; font-family: var(--sub-font); font-style: italic;  padding: 10px 0; font-weight: 500;}
#header .mgnb_wrap .mgnb_close { position: absolute; right: 30px; top: 50px; cursor: pointer; }


@media (max-width:1200px) {
  #header .util li:not(:last-child) { display: none; }
  #header .gnb { display: none; }
  #header .ham { display: block; }
}

@media (max-width:768px) {
  #header .util { display: none; }
  #header h1 { position: static; transform: translateX(0); }
}

/* search */
.search { display: none; z-index: 11; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: #fff url(../images/bg_logo.jpg) no-repeat center center; }
.search form { max-width: 1000px; margin: 0 auto; height: 100vh; display: flex; justify-content: center; align-items: center; }
.search .input_box { display: flex; justify-content: center; }
.search input[type="text"] { font-family: "Pretendard" , sans-serif; font-size: 1.6rem; background: transparent; width: calc(50vw - 50px); height: 50px; border-bottom: 3px solid #000; }
.search input[type="submit"] { width: 50px; height: 50px; border-bottom: 3px solid #000; background: url(../images/search.png) no-repeat center center; font-size: 0; cursor: pointer; }
.search .tag { max-width: 1000px; margin: 20px auto 0; }
.search .search_close { position: absolute; right: 0; top: 0; width: 50px; height: 50px; background: #000; cursor: pointer; }

/* banner */
.banner { height: 900px; }
.banner .banner_list li { height: 900px; position: relative; }
.banner .banner_list li img { width: 100%; height: 100%; object-fit: cover; }
.banner .banner_list li .banner_txt { position: absolute; text-align: center; left: 0; width: 100%; color: #fff; top: 200px; }
.banner .banner_list li .banner_txt p { font-size: 2rem; opacity: 0.5; }
.banner .banner_list li .banner_txt h3 { font-size: 5rem; }

.banner .swiper-button-next { width: 60px; height: 60px; background: url(../images/btn_next.png); color: transparent; }
.banner .swiper-button-prev { width: 60px; height: 60px; background: url(../images/btn_prev.png); color: transparent; }
.banner .swiper-pagination { color: #fff; bottom: 50px; }

@media (max-width:1200px) {
  .banner .banner_list li .banner_txt h3 { font-size: 4rem; }
}

@media (max-width:768px) {
  .banner .banner_list li .banner_txt h3 { font-size: 3rem; }
  .banner .banner_list li .banner_txt p { font-size: 1.6rem; }
  .banner .swiper-button-next { display: none; }
  .banner .swiper-button-prev { display: none; }
}

/* 공통 처리 */
.p200 { padding: 200px 0; }
h2 { font-size: 2rem; }
h2 span { font-family: var(--sub-font); font-style: italic; }
h2 span::after { content: ""; display: inline-block; width: 50px; border-bottom: 1px solid #ccc; margin: 0 10px; }
.btn_more a { display: inline-block; border-bottom: 1px solid var(--main-color); color: var(--main-color); background: url(../images/bg_more.png) no-repeat right center; padding: 10px 100px 10px 0; }

@media (max-width:1200px) {
  .p200 { padding: 140px 0; }
}

@media (max-width:768px) {
  .p200 { padding: 100px 0; }
}

/* about */
.about .slide_wrap { display: grid; align-items: center; grid-template-columns: 50% 50%; }
.about h3 { font-size: 9rem; font-weight: 500; line-height: 1.2; }
.about h3 span { font-family: var(--sub-font); font-style: italic; }
.about p { margin: 20px 0; font-size: 2rem; color: #666; letter-spacing: -1px; }

.about img { width: 100%; }

.about .swiper-pagination { bottom: 50px; }
.about .swiper-pagination span { transition: all 0.5s; background: #fff; opacity: 1; }
.about .swiper-pagination .swiper-pagination-bullet-active { background: var(--main-color); width: 30px; border-radius: 8px; }

@media (max-width:1200px) {
  .about .slide_wrap { grid-template-columns: 100%; gap: 50px; }
}

@media (max-width:992px) {
  .about h3 { font-size: 7rem; }
}

@media (max-width:768px) {
  .about h3 { font-size: 5rem; }
  .about p { font-size: 1.6rem; }
}

/* prd */
.prd { background: #f1f7fb; }
.prd .inner { position: relative; }
.prd h3 { font-size: 9rem; font-weight: 500; }
.prd h3 span { font-family: var(--sub-font); font-style: italic; }
.prd img { width: 100%; }
.prd ul li { position: relative; }
.prd ul li strong { position: absolute; top: 0; right: 0; background: #000; color: #fff; padding: 15px 30px; }
.prd ul li span:nth-of-type(1) { padding: 10px 0; color: #999; display: block; }

.prd .swiper-slide { transition: all 0.5s; filter: opacity(0.5) grayscale(100%); transform: scale(0.9,0.9);}
.prd .swiper-slide-active { filter: opacity(1) grayscale(0%); transform: scale(1,1); }

.prd .swiper-button-next { width: 60px; height: 60px; background: url(../images/btn_next.png); color: transparent; top: 100px; right: 0; }
.prd .swiper-button-prev { transform: translateX(-70px); width: 60px; height: 60px; background: url(../images/btn_prev.png); color: transparent; top: 100px; left: auto; right: 0; }

@media (max-width:1200px) {
  .prd h3 { font-size: 7rem; }
  .prd .swiper-button-next { display: none; }
  .prd .swiper-button-prev { display: none; }
}

@media (max-width:768px) {
  .prd h3 { font-size: 5rem; }
}


/* collection */
.collection ul { display: flex; }
.collection ul li { display: flex; justify-content: center; align-items: center; height: 650px; transition: all 1s; width: 15%; }
.collection ul li:nth-child(1) { background: url(../images/collection_01.jpg) no-repeat center center / cover; }
.collection ul li:nth-child(2) { background: url(../images/collection_02.jpg) no-repeat center center / cover; }
.collection ul li:nth-child(3) { background: url(../images/collection_03.jpg) no-repeat center center / cover; }
.collection ul li:nth-child(4) { background: url(../images/collection_04.jpg) no-repeat center center / cover; }

.collection ul li dl { white-space: nowrap; transition: all 0.5s; text-align: center; color: #fff; width: 60%; background: rgba(0,0,0,0); padding: 150px 0; }
.collection ul li dl dt { transition: all 0.5s; font-family: var(--sub-font); font-size: 2rem; font-style: italic; }
.collection ul li dl dd:nth-of-type(1) { padding: 10px 0; }
.collection ul li dl dd { transition: all 0.5s; opacity: 0; }

.collection ul li.active { width: 55%; }
.collection ul li.active dl dd { opacity: 1; }
.collection ul li.active dl { background: rgba(0,0,0,0.6); }
.collection ul li.active dl dt { font-size: 3.5rem; }

@media(max-width:1200px) {
  .collection ul { flex-wrap: wrap; }
  .collection ul li { width: 50%; height: 500px; }
  .collection ul li.active { width: 50%; }
  .collection ul li dl { background: rgba(0,0,0,0.6); padding: 100px 0; }
  .collection ul li dl dt { font-size: 3.5rem; }
  .collection ul li dl dd { opacity: 1; }
}

@media(max-width:768px) {
  .collection ul li { width: 100%; height: 350px; }
  .collection ul li.active { width: 100%; }
  .collection ul li dl { padding: 50px 0; }
  .collection ul li dl dd:nth-of-type(1) { display: none; }
}

/* footer */
#footer { background: #000; color: #fff; padding: 100px 0; }
#footer .inner { display: flex; flex-wrap: wrap; justify-content: space-between; }
#footer .footer_txt { margin-right: auto; margin-left: 100px; }
#footer .footer_txt p { font-size: 2rem; }
#footer .footer_txt dl { display: flex; gap: 10px; margin-top: 5px; }
#footer .footer_txt dl dd { opacity: 0.5; }
#footer .footer_link { display: flex; gap: 20px; margin-top: 30px; }
#footer .footer_txt .copy { opacity: 0.5; font-size: 1.4rem; margin-top: 10px; }

#footer .footer_cs dl dd { font-size: 3rem; }
#footer .footer_cs p { opacity: 0.5; font-size: 1.4rem; }
#footer .footer_cs .sns { display: flex; gap: 15px; margin-top: 10px; }

@media(max-width:768px) {
  #footer { font-size: 1.3rem; }
  #footer .footer_logo img { width: 120px; }
  #footer .footer_txt { margin:0; }
  #footer .inner { gap: 20px; }
}